<div class="sidebar" [ngClass]="{ 'sidebar-hidden': isSidebarHidden }">
    <div class="sidebar-header">
      <!-- <fa-icon [icon]="barIcon" (click)="toggleSidebar()" *ngIf="!isSidebarHidden" class="icon"></fa-icon> -->
      <h1 class="ml-3 heading" *ngIf="!isSidebarHidden">Grocery</h1>
      <fa-icon [icon]="barIcon" (click)="toggleSidebar()" style="cursor: pointer;" class="icon ml-2"></fa-icon>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of data">
        <a class="nav-link" [routerLink]="item.path" routerLinkActive="active">
          <fa-icon [icon]="item.icon" class="sidebar-icon"></fa-icon>
          <span class="sidebar-text" *ngIf="!isSidebarHidden">{{ item.name }}</span>
        </a>
      </li>
    </ul>
  </div>
  