.cotegory-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    overflow: auto;
}
.card{
    width: 100%;
    padding: 40px;
}

.loader-container{
    height: 900vh;
    display: flex;
    align-items: center;
    justify-content: center;
}