.myorder-container{
    height: 90vh;
    width: 100%;
    overflow: auto;
    padding: 40px 20px;
}

.loader-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}