<div class="loader-container w-100" *ngIf="isLoading">
    <app-loader-spinner></app-loader-spinner>
</div>

<div *ngIf="!isLoading">
    <div class="main-container p-4" *ngIf="!isUpdate">
        <h1 style="color: rgb(49, 49, 49); font-size: 38px; font-weight: bold;" class="mb-4">Products</h1>
        <ul class="products-list-container ">
            <li class="card mb-4" *ngFor="let product of  filterData()">
                <img class="card-img-top" src="{{product.image}}" alt="{{product.name}}">
                <div class="card-body">
                    <h5 class="card-title m-0">{{product.productname}}</h5>
                    <p class="card-text m-0 description" style="font-size: 12px; color: #6c6c6c;">{{product.description}}</p>
                    <p class="card-text mt-0">price: {{product.price}}/-</p>
                    <div class="buttons-container">
                        <button routerLink="/admin/update-product/{{product._id}}"
                            class="btn btn-warning w-100">Update</button>
                        <button (click)="onDelete(product._id)" class="btn btn-danger w-100">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>